*{margin: 0; padding: 0;}

body{
	background-color: #F2F1F1;
}

nav{
	background-color: #D3D3D3;
	justify-content: space-between;
	display: flex;
	height: 100%;
}


#logo-nav{
	margin-left: 20px;
	margin-top: 20px;
	align-content: center;
}
.a-menu{
	font-size: 35px;
	display: flex;
	justify-content: flex-end;
	padding: 50px;
}