@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

*{margin: 0; padding: 0;}

body{
	background-color: #F2F1F1;
}

#nav-topo{
	position: sticky;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 50px;
	background-color: #D3D3D3;
	justify-content: space-between;
	display: flex;
	height: 100%;
}


#logo-nav{
	margin-left: 20px;
	margin-top: 20px;
}
.a-menu{
	font-size: 30px;
	justify-content: flex-end;
	padding: 50px;
	color: black;
}
aside{
	display: grid;
	background-color: yellow;
	width: 30%;
    height: 1000px;
    float: left;

}

.not{
    background-color: #2B324E;
    float: left;
    border-radius: 0px;
    flex-wrap: wrap;
}
#not-titulo{
	font-size: 2em;
	text-align: center;
	color: #FFF;
	font-family: 'Gideon Roman', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-not{
	width: 100%;
	display: flex;
}

#not-img{
	align-items: center;
	margin-left: 15px;
	width: 220%;
	justify-items: right;
}
#not-text{
	color: #FFF;
	width: 35%;
	align-items: right;
	margin-left: 160px;
	text-align: center;
	
}
main{
	background-color: #FFF;
	width: 35%;
	height: 1000px;
	float: left;
}
main h1{
	margin-top: 80px;
	margin-bottom: 60px;
	text-align: center;
}
main h2{
	margin-left: 50px;
	margin-bottom: 30px;
}
main p{
	margin-left: 50px;
	font-size: 20px;
}
iframe{
	width: 85%;
	margin-top: 25px;
	padding: 15px;
}
#card-musicas-main{
	text-align: center;
}

#nav-banner{
	width: 35%;
	height: 1000px;
	float: left;
	background-color: #FFF;
}
#texto-TheEras{
	font-size: 40px;
	text-align: center;
	color: #2B324E;

}
#img-banner{
	text-align: center;
	mix-blend-mode:multiply;
	height: 95%;
}
#botao-banner{
	font-size: 1.5em;
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: #4A5275 ;
	color: #FFF;
	border: none;
	border-radius: 30px;
	padding-left: 50px;
	padding-right: 50px;

}

#botao-banner:hover{color: #212121 ;}
#botao-banner:link,#botao-banner:visited{color: #FFF;}














footer{
	background-color: #000;
	padding: 20px;
	clear: both;
}
footer p{
	text-align: center;
	color: #FFF;
	font-size: 1,5em;
}
footer a{
	color: #FFF;
}
footer a:hover{
	color: #3F51B5;
}

